mlx-lm==0.0.12
gradio==4.19.1
tiktoken==0.6.0
openai==1.12.0
langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.26
sentence-transformers==2.4.0
einops==0.7.0
chromadb==0.4.23
pypdf==4.0.2
youtube-transcript-api==0.6.2
sentencepiece==0.2.0
docx2txt==0.8